/* Start Button */
.startBtn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #5500ff;
    cursor: pointer;
}

/* Countdown Timer */
#countdown {
    position: absolute;
    top: 2%;
    left: 93%;
    font-size: 35px;
    font-weight: 500;
    color: #5500ff;
    padding: 15px 30px;
}

/* Box of information */
.infoBox {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Title of infomation box */
.infoTitle {
    font-size: 40px;
    text-align: center;
    color: #5500ff;
}

/* List of information */
.infoList {
    font-size: 20px;
    text-align: center;
}

/* View score */
.viewScore {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 30px;
    font-weight: 500;
    color: #5500ff;
    padding: 15px 30px;
}

/* Question box and more */
.quizBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background: rgb(255, 255, 255);
    flex-direction: column;
}

/* List of options/answers */
li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #5500ff;
    color: #fff;
    font-size: 1.5em;
    line-height: 1.5;
    list-style-type: none;
    border-radius: 5px;

  }

  /* initials bar */
  .inputBar{
    width: 300px;
    height: 25px;
  }

  /* submit button */
  .submitBtn{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #5500ff;
    cursor: pointer;
  }

  /* restart button */
  .restartBtn{
    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #5500ff;
    cursor: pointer;
  }

  /* view high score title */
  #viewhighscore{
    border: none;
    background: none;
    font-size: 35px;
    font-weight: 500;
    color: #5500ff;
  }